body {

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    -webkit-user-select: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
        background-color: #ffffff;
        width: 0.8vw;
        border-radius: 0.5vw;
        opacity: .4;

}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  rgba(51, 51, 51, 0.1);
        border-radius:  0.5vw;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'), url(../fonts/Comfortaa-Regular.ttf) format('woff2');
}

::selection {

    background-color: #4cbbd6;
    color: white;

}


div {

        -webkit-user-select: none;

}

#meicon {

        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        -webkit-user-select: none;



}

.me {

     margin-top: -1vh;
     text-align: center;
     font-family: 'Comfortaa';
     color: rgb(51,51,51);
     font-size: 10vh;

}

#small {

        font-size: 5vh;
        margin-top: -12vh;

}

form {

        margin-top: 2%;

}

#form {


        text-align: center;

}

input {
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 3vw;
        font-family: 'Comfortaa';
        text-align: center;
        color: rgb(51,51,51);
        border: 1px solid rgba(51, 51, 51, 0.1);
        width: 80vw;
        height: 8vh;
        margin-bottom: 2%;
}


#stylist {

      text-align: left;
      width: 80vw;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
}

#stylist ul {


            display: inline;
            list-style-type: none;

}

#stylist li {

        display: inline;


}

#stylist p {
      display: inline;
      font-family: 'Comfortaa';
      color: #78d0e8;
      font-size: 1.5vw;


}

#stylist p  img {

    vertical-align: middle;


}

.users {

        margin-right: 5vw;

}

.add {


      margin-left: 5vw;
}

*:focus {

        outline: none;

}

a {

    text-decoration: none;
    color: #4cbbd6;
    font-size: -15vw;
    font-family: 'Comfortaa';

}

a:active {

        color: rgba(76, 187, 214, 0.5);

}
